html{
	font-size: 1.3rem;
}

body{
	background-color: #faeecd !important;
}

header {
    padding: 100px 0 0;
    text-align: center;
}

h1{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 6rem;
}

.intro-text{
	font-family: 'Sacramento', cursive;
}

h2{
	font-size: 2rem;
}

h3{
	font-family: 'Signika', sans-serif;
	font-size: 2.2rem;
	color: #2B5455;
}

h4{
	font-family: 'Sacramento', cursive;
	font-size: 1.7rem;
}

h5{
	font-size: 1.1rem;
	font-weight: bold;
}

.bg-1{
	background-color: #faeecd;
}

.bg-nav{
	background-color: #2b5455;
}

.btn{
	margin : 10px 10px 10px 10px;
	padding : 10px 50px 10px 50px;
	font-size: 20px;
	font-weight: bold;
}

.btn-bg-1{
	background-color: #ab8507 !important;
	color: white;
}

.btn-bg-2{
	background-color: #2b5455 !important;
	color: white;
}

.coloc{
	border : 2px solid #cecece;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	background-color: white;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.styled{
	border:0;
	color: #f3f2dc;
	background: #2b5455;
	padding: 10px 10px 10px 10px;
	margin : 20px 10px 10px 20px;
}

/* [class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
} */
