@import url('sidebar.css');

:root {
	/* Beige */
	--bg-color-main: rgb(251, 238, 204, 1);
	/* Beige foncé */
	--bg-color-1: rgba(171, 133, 7, 1);
	--bg-color-1-hov: rgba(191, 163, 40, 1);
  /* Vert foncé */
	--bg-color-2: rgba(43, 84, 85, 1) ;
	--bg-color-2-hov: rgba(53, 124, 95, 1);


	--bg-color-3: #0b7b77;
	--bg-color-4: #3d5a6c;

	--transit-time: 0.5s;
}


html{
	font-size: 1.3rem;
}

body{
	background: url("/static/img/background.jpg") !important;
}

header {
    padding: 100px 0 0;
    text-align: center;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
		margin-top: 50px;
}

h1{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 6rem;
}

.intro-text{
	font-family: 'Sacramento', cursive;
}

h2{
	font-size: 2rem;
}

h3{
	font-family: 'Signika', sans-serif;
	font-size: 2.2rem;
}

h4{
	font-family: 'Sacramento', cursive;
	font-size: 1.7rem;
}

h5{
	font-size: 1.1rem;
	font-weight: bold;
}


.navbar .nav-link{
	color: white !important;
}

.bg-nav{
	background-color: var(--bg-color-2);
}

.bg-white{
	background-color: #fff;
}

.bg-1{
	background-color: var(--bg-color-1);
	color: white;
}

.bg-1:hover{
	background-color: var(--bg-color-1-hov);
	color: white !important;
}

.bg-2{
	background-color: var(--bg-color-2);
	color: white;
}

.bg-2:hover{
	background-color: var(--bg-color-2-hov);
	color: white;
}

.bg-3{
	background-color: var(--bg-color-3);
	color: white;
}

.bg-4{
	background-color: var(--bg-color-4);
	color: white;
}

.btn{
	margin : 10px 10px 10px 10px;
	padding : 10px 50px 10px 50px;
	font-size: 20px;
	font-weight: bold;
	max-width: 350px;
	transition: var(--transit-time);
}


.coloc{
	border : 2px solid #cecece;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	background-color: white;
	border : 7px solid var(--bg-color-2);
}


.img-small{
	width: 40px;
	height: 40px;
}

.img-profile{
	position: absolute;
	left: 50%;
	top: -75px;
	width : 150px;
	height: 150px;
	margin-left: -75px;
}

.img-nav
{
	position: relative;
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.img-coloc
{
	width: 80px;
	height: 80px;
}


.carousel-item img{
  width: auto;
  height: 400px;
  max-height: 400px;
}


.disp-tenants{
	background-color: #FBEECC;
	border: 1px solid var(--bg-color-2);
	margin-right: -1px !important;
	margin-bottom: -1px !important;
}

.disp-tenants:hover, .disp-tenants:hover h3{
	background-color: var(--bg-color-3);
	color: white;
}

.nav-link.active.nav-coloc{
	background-color: #2b5455 !important;
	color: white !important;
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 0px;
}

.nav-link.nav-coloc{
	background-color: var(--bg-color-3) !important;
	color: white !important;
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 0px !important;
}

.border-g{
	border: 1px solid var(--bg-color-1);
	padding: -200px;
}


hr.style13 {
  border: 0;
  width: 96%;
  background-color:#2b5455;
  height: 20px;
}


.messages{
	background-color: white;
}

/* [class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
} */
