{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block head-javascript %}
{% endblock %}


{% block style %}
{% endblock %}

{% block content %}
{% if  envoi%}Votre profil a bien été créé !{% endif %}
<div class="container">
  <div class="card my-4">
    <div class="card-header text-light bg-dark">
      <h2 class="text-center my-3"> Créer un profil</h2>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block foot-javascript %}
<script>
$( document ).ready( function() {
  // On interdit le copier/coller du mail
  $('#id_confirmation_mail').bind('copy paste', function(e) {
    e.preventDefault();
  });
  // On affiche le calendrier lorsqu'on clique sur le champ date de naissance
  $('#id_birth_date').click(function(){
    $(this).parent().data("DatePicker").show();
  });
  // On teste la valeur de la date et on la force à vide si elle est mauvaise
  $('#id_birth_date').change(function(e){
    e.preventDefault();
    e.stopPropagation();
    var val = $(this).val();
    var format = new RegExp("^\\d{2}\/\\d{2}\/\\d{4}$");
    if(!format.test(val)) {
      $(this).val("");
    }
  });

  $('.btnNext').click(function(){
    $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
  });

  $('.btnPrevious').click(function(){
    $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
  });
  // Afficher l'onglet suivant en cliquant sur le bouton suivant
});
</script>
{% endblock %}


{% comment %}
<div class="card my-5">
<div class="card-header text-light bg-dark">
<h2 class="text-center my-3"> Créer un profil</h2>
</div>
<div class="card-body">
<div class="row justify-content-center">
<div class="col-lg-5">
<form action="{% url "register" %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<div class="row justify-content-center">
<button type="submit" class="btn btn-success">Créer le profil</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
{% endcomment %}
