{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="home">
  <div class="container text-center">
    <h1>Yvette</h1>
    <h2 class="intro-text">La colocation joyeuse des vieux qui en ont marre d'être seuls </h2>
    <div class="">
      <img src="{% static 'mainapp/img/image.jpg' %}" class="rounded-circle my-5" alt="Mamie">
      <div class="my-3">
        <a href="{% url "create_coloc" %}" class="btn bg-1 mx-3" role="button">  Créer une colocation  </a>
        <a href="{% url "list_colocs" %}" class="btn bg-2 mx-3" role="button">  Découvrir les colocations  </a>
      </div>
    </div>
  </div>
</header>


{% endblock %}
