{% extends "base.html" %}
{% load static %}

{% block content %}
	{% for coloc in colocations %}
		<div class="container p-3 rounded coloc">
			<div class="row">
				<div class="col-lg-3">
					<img src={{coloc.owner.photo.url}} class="img-fluid img-thumbnail mx-auto d-block" alt="Mamie">
					<h4 class="mt-3 text-center"> {{coloc.owner.city}} </h4>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-12 mt-1">
							<h3> Je m'appelle {{coloc.owner.user.first_name}} </h3>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-lg-12">
							<p> "{{coloc.intro}}" </p>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-lg-3">
							<h5> Ma coloc en deux mots </h5>
							<p> {{coloc.two_words}} </p>
						</div>
						<div class="col-lg-4">
							<h5> Colocataires déjà présents </h5>
							{% for tenant in coloc.tenants.all %}
								<img src={{tenant.photo.url}} class="img-small rounded-circle">
							{% endfor %}
						</div>
						<div class="col-lg-2">
							<h5> &Acirc;ge moyen </h5>
							<p> {{coloc.mean_age}} </p>
						</div>
						<div class="col-lg-3">
							<h5> Des <br>animaux ? </h5>
							<p> {{coloc.pets}} </p>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-lg-12">
								<a href="{% url "detail_coloc" coloc.id %}" class="btn btn-bg-2 px-5 mt-3" role="button">Découvrir</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
