<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/yvette.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Sacramento|Signika|Playfair+Display" rel="stylesheet">
  {% block style %}{% endblock %}
  <title>{% block title %}Yvette{% endblock %}</title>
</head>
<body>
  {% block nav %}
  {% endblock %}

  {% block messages %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

</body>

</html>
